In [1]:
# Importing the libraries 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

In [3]:
# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

In [4]:
# Import pandasql to run queries 

import pandasql as psql

In [5]:
#pip install pandasql

In [10]:
# load the CO2 Emission dataset 

BMI = pd.read_csv(r"E:\win7\files\Raju sir\BMI_Analysis_V1.1.csv", header=0)

In [11]:
# Copy the file to back-up file

BMI_bk = BMI.copy()

In [12]:
# Display first 5 records

BMI.head()

   Height_M  Weight_kg  Fat_age    BMI
0      1.60      49.44     23.9  19.31
1      1.65      62.60     28.8  22.96
2      1.65      75.75     32.4  27.79
3      1.53      48.99     25.8  20.92
4      1.45      43.09     22.5  20.38

In [13]:
# Display last five records

BMI.tail()

    Height_M  Weight_kg  Fat_age    BMI
87      1.49      39.01     23.3  17.52
88      1.60      41.28     20.1  16.12
89      1.42      38.10     30.3  18.83
90      1.40      30.16     20.6  15.46
91      1.45      38.56     26.0  18.39

In [14]:
# Display the 10 records randomly

BMI.sample(10)

    Height_M  Weight_kg  Fat_age    BMI
50      1.58      60.33     39.7  24.13
43      1.37      29.48     20.6  15.82
69      1.61      63.96     32.2  24.78
21      1.48      42.18     31.3  19.27
67      1.57      59.87     26.4  24.14
80      1.46      40.37     20.5  18.93
54      1.64      77.34     42.2  28.59
35      1.63      47.17     28.8  17.71
78      1.47      34.93     21.1  16.09
39      1.50      35.95     19.5  15.87

In [16]:
# Display dataset information

BMI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Height_M   92 non-null     float64
 1   Weight_kg  92 non-null     float64
 2   Fat_age    92 non-null     float64
 3   BMI        92 non-null     float64
dtypes: float64(4)
memory usage: 3.0 KB

In [18]:
# Identify the Independent and Target variables

IndepVar = []
for col in BMI.columns:
    if col != 'BMI':
        IndepVar.append(col)

TargetVar = 'BMI'

x = BMI[IndepVar]
y = BMI[TargetVar]

In [19]:
# Split the data into train and test sets

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [20]:
# Scaling the features by using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train = mmscaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

x_test = mmscaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

# Linear Regression Algorithm

In [21]:
# Train the algorithm and build the model with train dataset

from sklearn.linear_model import LinearRegression

# Create model object

MulRGR = LinearRegression()

#LinearRegression(fit_intercept=True, normalize='deprecated', copy_X=True, n_jobs=None, positive=False)

# Train the model with training dataset (70%)

MulRGR.fit(x_train, y_train)

LinearRegression()

In [22]:
# Predict the model with test dataset

y_pred = MulRGR.predict(x_test)

In [23]:
# Evaluation metrics for Regression analysis

from sklearn import metrics

print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))

Mean Absolute Error (MAE): 1.396
Mean Squared Error (MSE): 3.728
Root Mean Squared Error (RMSE): 1.931
R2_score: 0.750061
Root Mean Squared Log Error (RMSLE): 0.658

In [24]:
# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

# Evaluation of MAPE 

result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')

Mean Absolute Percentage Error (MAPE): 5.843 %

In [25]:
# Calculate Adjusted R squared values 

r_squared = round(metrics.r2_score(y_test, y_pred),6)
adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
print('Adj R Square: ', adjusted_r_squared)

Adj R Square:  0.74154

In [26]:
Results = pd.DataFrame({'BMI_A':y_test, 'BMI_P':y_pred})

# Merge two Dataframes on index of both the dataframes

ResultsFinal = BMI_bk.merge(Results, left_index=True, right_index=True)
ResultsFinal.sample(5)

    Height_M  Weight_kg  Fat_age    BMI  BMI_A      BMI_P
26      1.50      37.31     18.1  16.61  16.61  15.760862
55      1.49      58.29     36.7  26.17  26.17  29.040753
69      1.61      63.96     32.2  24.78  24.78  27.967417
4       1.45      43.09     22.5  20.38  20.38  20.969404
83      1.47      39.46     18.3  18.18  18.18  18.001878